In [2]:
import pandas as pd

In [4]:
!pwd

/home/robert/dev/web_dev/BackEnds/flask/ImageClassifier/classifier/static

In [7]:
b = pd.read_csv("birds.csv")

In [8]:
b.head()

,Name,Scientific_Name,Pop_Global,Pop_US_Canada,Pop_Canada,Pop_USA
0,Plain Chachalaca,Ortalis vetula,2000000,2500,0,0
1,Mountain Quail,Oreortyx pictus,260000,250000,0,250000
2,Northern Bobwhite,Colinus virginianus,5800000,4400000,0,0
3,Scaled Quail,Callipepla squamata,5100000,2400000,0,2400000
4,California Quail,Callipepla californica,5800000,3400000,140000,3200000

In [ ]:
b.to_sql("Bird",)